// Extra rules needed for the LMS red theme
//
// The _extras.scss file is imported after all other rules by
// the LMS Sass. For your own theme, you can override this file
// to add any custom rules that you need. You can also import
// partials directly into this file so that you can break your
// rules into modular pieces.

body{font-family: 'Source Sans Pro', sans-serif;}

h1, h2, h3, h4, h5, h6{font-family: 'Cinzel', serif !important; font-weight:normal !important;}

body, .window-wrap, .global-header{ background-color: white !important;}
.wrapper-footer{background-color: white !important; border-top:none;}

.global-header { border-bottom:none; }
.global-header .header-logo a { float:none !important; margin: 15px auto !important; display: block; width: 290px;}
.global-header .header-logo a .logo { height:80px !important; float:none !important;}
.global-header .nav-links .main { margin:41px 0 0 40px !important; }
.global-header .header-logo .course-header { margin:41px 40px 0 40px !important; }

.home>header { background-image: url('../images/clouds_bg.jpg'); background-size: 100% auto; background-position: top center; height: 500px; background-repeat: no-repeat;
				box-shadow:#000000 0px 0px 15px inset;}
.home>header .outer-wrapper { height: 500px;}
.home>header .title { background: none; color: white; float:none; box-shadow:0 4px 5px 0 rgba(0,0,0,0); height:100%; display:table;}
.home>header .title>.heading-group { display: table-cell; vertical-align: middle;}
.home>header .title>.heading-group h1{ text-align:center; display: table-cell; height: 100%; vertical-align: middle; padding-bottom:0; text-shadow:0 3px 3px rgba(0,0,0,0); color:#f0eadc;}

.content-wrapper { padding:0px !important; margin-top:0 !important;}

.wrapper-footer { padding:10px 40px 20px 40px; box-shadow: 0 -1px 5px 0 rgba(0,0,0,0);}
.wrapper-footer footer.footerna { width:100%; max-width:100%; margin:0; margin-left:0; margin-right:0; }
.wrapper-footer footer.footerna .colophon { width:100%; }
.wrapper-footer footer.footerna .wrapper-logo a { max-width:162px; display:inline-block !important;}
.wrapper-footer footer.footerna .wrapper-logo a img { width:50%; }
.wrapper-footer footer.footerna .copyright { margin:10px; font-size: 0.6875em; color: #767676; text-align: center !important;}

.view-register .introduction header h1, .view-login .introduction header h1, .view-passwordreset .introduction header h1 { text-align: center; margin-bottom: 0; padding-bottom: 20px; margin-top: 20px; padding-top: 20px; }
.view-login .introduction header{ height:auto !important; background: none !important; }

.login .content, .register .content, .passwordreset .content, #forgot-password-modal #password-reset .content { float:none; margin:auto; margin-right:auto; width:500px; }

.dashboard .main-container .my-courses .course .details .enter-course, .wrapper-messages-primary .message.message-upsell .action-view-consent { color: #264134 !important;}

.verification-process .report-receipt-provider .provider-buttons-logos .complete-order button:hover, .dashboard .main-container .my-courses .course .details .enter-course:hover, .wrapper-messages-primary .message.message-upsell .action-view-consent:hover, .wrapper-messages-primary .message.message-status .verification-cta .btn:hover, .wrapper-messages-primary .message.message-status .credit-action .credit-btn:hover, .btn-secondary:hover, .account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link:hover, .account-settings-sections .section .account-settings-section-body .u-field .u-field-order .u-field-order-link .u-field-link:hover, .account-settings-sections .section .account-settings-section-body .u-field .u-field-order-lines .u-field-order-link .u-field-link:hover, .account-settings-sections .section .account-deletion-details .btn-outline-primary:hover, .account-settings-sections .section .account-deletion-details .delete-confirmation-wrapper .paragon__modal-footer .paragon__btn-outline-primary:hover, .courseware-bookmarks-button .bookmarks-list-button:hover, .verification-process .report-receipt-provider .provider-buttons-logos .complete-order button:focus, .dashboard .main-container .my-courses .course .details .enter-course:focus, .wrapper-messages-primary .message.message-upsell .action-view-consent:focus, .wrapper-messages-primary .message.message-status .verification-cta .btn:focus, .wrapper-messages-primary .message.message-status .credit-action .credit-btn:focus, .btn-secondary:focus, .account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link:focus, .account-settings-sections .section .account-settings-section-body .u-field .u-field-order .u-field-order-link .u-field-link:focus, .account-settings-sections .section .account-settings-section-body .u-field .u-field-order-lines .u-field-order-link .u-field-link:focus, .account-settings-sections .section .account-deletion-details .btn-outline-primary:focus, .account-settings-sections .section .account-deletion-details .delete-confirmation-wrapper .paragon__modal-footer .paragon__btn-outline-primary:focus, .courseware-bookmarks-button .bookmarks-list-button:focus {  background-color:#264134 !important; color: white !important;}

.wrapper-preview-menu {background-color:#264134 !important;}
